.forms{
    
    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        margin: auto;

        h1{
            color: $color-black;
        }

        .actions{
            display: flex;
            justify-content: space-between;

            .btn{
                &:hover{
                    background-color: $color-black;
                    color: $main-color;
                }
            }

            a{
                text-decoration: none;
            }
        }
    }

    button{
        background-color: $main-color;
    }
}