.trip-info{
    .trip-title__istambul{
        background-image: url("../images/yuksel-goz-_63Z9xUczLU-unsplash.jpg");
    }
    .trip-title__pyramids{
        background-image: url("../images/adrian-dascal-GXIr_uawluA-unsplash.jpg");
    }
    .trip-title{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 50vh;
        position: relative;
        
            h1{
                color: white;
                font-weight: bold;
                font-size: 42px;
            }
        }
    }
    .trip-desc{
        padding: 50px 0;

        p{
            font-size: 22px;
            color: $color-black;
        }
    }

.trip-gallery{
    img{
        height: 200px;
        padding-bottom: 20px;
    }
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}